<header class="header_ui" [ngStyle]="head ? {visibility: 'visible'}: {visibility: 'hidden'}">
    <nav class="navbar navbar-expand-lg navbar-light" [ngStyle]="!view ? {background: '#3893b3'} : ''">

        <div class="menudiv">
            <button class="_menubtn" type="button">
                <span class="navbar-toggler-icon2">&#9776;</span>
            </button>
            <div class="_menudiv">
                <ul class="_menu" *ngIf="view">
                    <li><a [routerLink]='["/home"]' [queryParams]="{customerId: customerId}"><i
                                class="fa fa-arrow-right mr-2"></i>Home</a></li>
                    <li><a [routerLink]='["/overall-report"]' [queryParams]="{customerId: customerId}"><i
                                class="fa fa-arrow-right mr-2"></i>Sales Report</a></li>
                    <li><a [routerLink]='["/inventory-report"]' [queryParams]="{customerId: customerId}"><i
                                class="fa fa-arrow-right mr-2"></i>Inventory Report</a></li>
                    <li><a [routerLink]='["/doctor-division-sales"]' [queryParams]="{customerId: customerId}"><i
                                class="fa fa-arrow-right mr-2"></i>Doctor-Division Sales Report</a></li>
                    <li><a [routerLink]='["/historical-trend-doctor"]' [queryParams]="{customerId: customerId}"><i
                                class="fa fa-arrow-right mr-2"></i>Historical Trend-Doctor Report</a></li>
                    <li><a [routerLink]='["/historical-trend-brand"]' [queryParams]="{customerId: customerId}"><i
                                class="fa fa-arrow-right mr-2"></i>Historical Trend-Brand Report</a></li>
                    <li><a [routerLink]='["/brand-sale-doctor"]' [queryParams]="{customerId: customerId}"><i
                                class="fa fa-arrow-right mr-2"></i>Brand Sales-Doctor Wise Report</a></li>
                    <li><a [routerLink]='["/unbilled-doctor-list"]' [queryParams]="{customerId: customerId}"><i
                                class="fa fa-arrow-right mr-2"></i>Unbilled Doctor Lists</a></li>
                    <li><a [routerLink]='["/brand-pricing"]' [queryParams]="{customerId: customerId}"><i
                                class="fa fa-arrow-right mr-2"></i>Brand Pricing Analysis</a></li>
                    <li><a [routerLink]='["/brand-sale"]' [queryParams]="{customerId: customerId}"><i
                                class="fa fa-arrow-right mr-2"></i>Brand Sale Report</a></li>
                    <li><a [routerLink]='["/delivery-performance"]' [queryParams]="{customerId: customerId}"><i
                                class="fa fa-arrow-right mr-2"></i>Delivery Performance Report</a></li>
                    <li><a [routerLink]='["/pending-order"]' [queryParams]="{customerId: customerId}"><i
                                class="fa fa-arrow-right mr-2"></i>Pending Order Report</a></li>
                    <li><a [routerLink]='["/pending-for-approval"]' [queryParams]="{customerId: customerId}"><i
                                class="fa fa-arrow-right mr-2"></i>Pending For Approval Report</a></li>
                    <li><a [routerLink]='["/scheme-data"]' [queryParams]="{customerId: customerId}"><i
                                class="fa fa-arrow-right mr-2"></i>Scheme Report</a></li>
                    <!-- <li><a [routerLink] = '["/performance-indicator"]' [queryParams] = "{customerId: customerId}" ><i class="fa fa-arrow-right mr-2"></i>Performance Indicators</a></li> -->
                </ul>
                <div *ngIf="!view">
                    <ul class="_menu" *ngIf="!company">
                        <li><a [routerLink]='["/homepage"]' [queryParams]="{customerId: customerId}"><i
                                    class="fa fa-arrow-right mr-2"></i>Homepage</a></li>
                        <li><a [routerLink]='["/sale-invoice"]' [queryParams]="{customerId: customerId}"><i
                                    class="fa fa-arrow-right mr-2"></i>Sale Invoice</a></li>
                        <li><a [routerLink]='["/purchase-invoice"]' [queryParams]="{customerId: customerId}"><i
                                    class="fa fa-arrow-right mr-2"></i>Purchase Invoice</a></li>
                        <li><a [routerLink]='["/entero-inventory-report"]' [queryParams]="{customerId: customerId}"><i
                                    class="fa fa-arrow-right mr-2"></i>Inventory Report</a></li>
                        <li><a [routerLink]="['/molecule-report']" [queryParams]="{customerId: customerId}"><i
                                    class="fa fa-arrow-right mr-2"></i>Molecule Report</a></li>
                    </ul>
                    <ul class="_menu" *ngIf="company">
                        <li><a [routerLink]='["/homepage"]' [queryParams]="{companyId: companyId}"><i
                                    class="fa fa-arrow-right mr-2"></i>Homepage</a></li>
                        <li><a [routerLink]='["/sale-invoice"]' [queryParams]="{companyId: companyId}"><i
                                    class="fa fa-arrow-right mr-2"></i>Sale Invoice</a></li>
                        <li><a [routerLink]='["/purchase-invoice"]' [queryParams]="{companyId: companyId}"><i
                                    class="fa fa-arrow-right mr-2"></i>Purchase Invoice</a></li>
                        <li><a [routerLink]='["/entero-inventory-report"]' [queryParams]="{companyId: companyId}"><i
                                    class="fa fa-arrow-right mr-2"></i>Inventory Report</a></li>
                        <li><a [routerLink]="['/molecule-report']" [queryParams]="{companyId: companyId}"><i
                                    class="fa fa-arrow-right mr-2"></i>Molecule Report</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div *ngIf="showHome" class="home1" (click)="enteroHome()">
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link username bg1-1">
                            <div class="user_name username2 user3">
                                <h2> Switch</h2>
                                <span>Customer</span>
                            </div>
                        </a>

                    </li>
                </ul>
            </div>

        </div>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link username" data-toggle="dropdown" href="">
                        <div class="user_name">
                            <h2 *ngIf="company"> {{authService.currentUserValue.username}}</h2>
                            <h2 *ngIf="!company"> {{authService.currentUserValue.username}}</h2>
                            <span>{{authService.currentUserValue.usertitle}}</span>
                        </div>
                        <div class="user_image">
                            <span>MA</span>
                        </div>
                    </a>
                    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right" style="background-color: #bcbcbc;">
                        <div class="card dropdown-item" style="width: auto; background-color: #dedede;">
                            <img src="../../../assets/images/avatar5.png" alt="User Avatar" height="100" width="100"
                                class="sm-3 img-circle" style="    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    border: #2d87c6 solid 4px;">
                            <div class="card-body">
                                <h5 class="card-title" style="text-align: center;">
                                    <span>{{authService.currentUserValue.username}}
                                    </span>
                                </h5>
                                <p class="card-text" style="text-align: center;">
                                </p>
                                <button type="button" class="btn btn-primary btn-sm" (click)="getUserLists()">
                                    Users</button>
                                <button type="button" class="btn btn-sm btn-warning" (click)="logout()"
                                    style="margin-left: 15px;">logout</button>
                            </div>
                        </div>

                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <a class="header_toggle_action header_toggle_handler_ui"><em></em></a>
</header>
<!-- <a class="header_toggle_action header_toggle_handler_ui"
    [ngStyle]="head ? {visibility: 'visible'}: {visibility: 'hidden'} "><em></em></a> -->

<!-- </body>
</html> -->